<h1>戦国AGE</h1>
<h3>他国を攻める</h3>
<p>
<h4>どの国を攻めますか？</h4>
<ul>
<% @enemylist.each do |enemy| %>
<li><%= link_to "攻める" , controller:"war" , action:"confirm" , player_id:@player_id , enemy_id:enemy.user_id%> → 城主：<%= enemy.user_name %>【兵力：<%= enemy.army %>】</li>
<% end %>
</ul>
</p>
<%= link_to "城に戻る" , controller:"home" , action:"top" %>
